<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="stock">
            <directory suffix=".php">./tests/SouthXchange/</directory>
        </testsuite>
        <testsuite name="fourteen">
            <directory suffix=".php">./tests/FourteenBit/</directory>
        </testsuite>
        <testsuite name="summary">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>