<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" color="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailures="true" syntaxCheck="true">
    <testsuites>
        <directory>./tests/</directory>
    </testsuites>
</phpunit>